{% extends 'bookings/base.html' %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bookings</title>
    </head>
    <body>
    {% block title %} 
    <h1> Booking History </h1>
    {% endblock %}

    {% block content %}
    {% for booking in results %}
        <li class ="list-group-item ">
            <p> Movie: {{ booking.movie }} </p>
            <p> Seat: {{ booking.seat.seat_number }} </p>
            
        </li >
    {% endfor %}
    {% endblock %}
    </body> 
</html>
