{% extends 'bookings/base.html' %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bookings</title>
    </head>
    <body>
        {% block title %} 
        <h1> Movie List </h1>
        {% endblock %}

        {% block content %}
        <h2 > Available Movies </h2 >
        <ul class ="list-group ">
            {% for movie in results%}
                <li class ="list-group-item ">
                    <h5 >{{ movie.title }} </h5 >
                    <p>{{ movie.description }} </p>
                    <a href ="{% url 'bookings:book_seat' %}" class ="btn btn-primary ">
                        Book Now </a>
                </li >
            {% endfor %}
        </ul >
        {% endblock %}
    </body>

