{% extends 'bookings/base.html' %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bookings</title>
    </head>
    <body>
        {% block title %} 
        <h1> Movie List </h1>
        {% endblock %}
        
        {% block content %}
        <a href ="../" class ="btn btn-primary "> Return </a>

        <h2 > Available Movies </h2>
        <ul class ="list-group">
            {% for movie in results%}
                <li class ="list-group-item ">
                    <h5> {{ movie.title }} </h5>
                    <p> Release Date: {{ movie.release_date }} </p>
                    <p> Description: {{ movie.description }} </p>
                </li >
            {% endfor %}
        </ul >
        {% endblock %}
    </body>
</html>