{% comment %} {% extends ’bookings/base.html’ %} {% endcomment %}
{% block title %} Movie List {% endblock %}
{% block content %}
<h2 > Available Movies </h2 >
<ul class ="list-group ">
    {% for movie in results%}
        <li class ="list-group-item ">
            <h5 >{{ movie.title }} </h5 >
            <p>{{ movie.description }} </p>
            {% comment %} <a href ="{% url 'create' movie.id %}" class ="btn btn-primary ">
                Book Now </a> {% endcomment %}
        </li >
    {% endfor %}
</ul >
{% endblock %}
