{% extends 'bookings/base.html' %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bookings</title>
    </head>
    <body>
        {% block title %} <h1> Book Seat </h1> {% endblock %}
        {% block content %}
        <form action="{% url 'bookings:book_seat' %}.html" method="post" class="form-select-lg mb-3"> 
            {% csrf_token %}
            <div class="mb-3">
                <label for="movie" class="form-label">Movie</label>
                <select id="movie">
                    {% for movie in movies %}
                    <option name="movie"> Movie: {{ movie }} </option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label for="seat" class="form-label">Seat #</label>
                <select id='seat'>
                    {% for seat in seats %}
                    <option name="seat"> {{ seat.seat_number }} </option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label for="date" class="form-label">Date</label>
                <input type="date" id="date" value="booking_date">
            </div>
            <input type="submit" value="booking" class="btn btn-primary">
        </form>
        {% endblock %}
    </body>
</html>